:root{
--color-plus: green;
--color-plus-hover: #40ff00;
--color-folder: #e6e600;
--color-folder-hover: #ffff80;
--color-save: #1a53ff;
--color-save-hover: #809fff;
--color-remove: #ff1a1a;
--color-remove-hover: #ff6666;
--color-info: #0080ff;
--color-info-hover: #99ccff;
}
